@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("bg finish.png") no-repeat fixed top right;	
}
#container{
	background-color: rgba(123,74,30,0.89);
	width: 800px;
		margin:0 auto;
}
.left{
	width: 380px;
		height: 200px;
	background-color: rgba(122,92,62,.5);
	border-radius: 20px;
	float: left;
	margin: 0px 13px 10px 13px; 
	padding: 25px 25px 25px 25px;
	border: thick rgba(81,46,13,1.00) solid;
}
.right {
	width: 380px;
		height: 200px;
	background-color: rgba(122,92,62,.5);
	border-radius: 20px;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 25px 25px 25px 25px;
	border: thick  rgba(81,46,13,1.00) solid;
}
footer{
	background-color:rgba(123,74,30,.5);
	clear: both;
	color: rgba(51,17,2,1.00);
}
header > h1{
	text-align: center;
	color: rgba(51,17,2,1.00);
}

.right a:hover{
	font-size: 1.2em;
	color: firebrick;
	
}

title{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
	
}

.metal-mania-regular {
  font-family: "Metal Mania", serif;
  font-weight: 400;
  font-style: normal;
}
/* nav bar */
nav{
	margin: 0 10px 20px 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4D2E12;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color:rgba(35,19,4,1.00);
}

nav .active {
  background-color: #351E08;
}
input[type=text] {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid rgba(81,46,13,1.00);
  border-radius: 4px;
  font-size: 16px;
  background-color: #824E1F;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


